
        body {
            background:chocolate;
        }
        .listrarussia{
            position: absolute;
            width: 173px;
            height: 32px;
            left: 14px;
            top: 141px;
            background: white;
        }

        .listrarussia2 {
            position: absolute;
            width: 173px;
            height: 32px;
            left: 0px;
            top: 32px;
            background: blue;
        }

        .listrarussia3 {
            position: absolute;
            width: 173px;
            height: 32px;
            left: 0px;
            top: 64px;

            background: red;
        }

        .fundodinamarca {
            position: absolute;
            width: 187px;
            height: 96px;
            left: 220px;
            top: 141px;

            background: #cc1e3e;
        }
        .listra {
            position: relative;
            width: 20px;
            height: 96px;
            left: 50px;
            top: 0px;
            background: #FFFFFF;
        }
            
        .listra2 {
            position: relative;
            width: 187px;
            height: 20px;
            left: 0px;
            top: -61px;

            background: #FFFFFF;
        }

        .listraucrania{
            position: absolute;
            width: 173px;
            height: 48px;
            left: 440px;
            top: 141px;
            background: rgb(46, 46, 223);
        }

        .listraucrania2 {
            position: absolute;
            width: 173px;
            height: 48px;
            left: 0px;
            top: 48px;
            background: yellow;
        }

        .listrabranca {
            position: absolute;
            width: 187px;
            height: 10.66px;
            left: 0px;
            top: 10.66px;
            background: white;
        }

        .listraazul {
            position: absolute;
            width: 187px;
            height: 10.66px;
            left: 644px;
            top: 141px;
            background: rgb(0, 81, 255);
        }

        .listraazul2 {
            position: absolute;
            width: 187px;
            height: 10.66px;
            left: 0px;
            top: 10.66px;
            background: rgb(0, 81, 255);
        }
        
        .quadradoazul {
            position: relative;
            width: 57.66px;
            height: 48px;
            left: 0px;
            top: -85px;
            background: rgb(0, 81, 255);
        }

        .listrabrancagrecia {
            position: relative;
            width: 57.66px;
            height: 10.66px;
            left: 0px;
            top: 20.66px;
            background: white;
        }

        .listrabrancagrecia2 {
            position: relative;
            width: 10.66px;
            height: 52.66px;
            left: 23.83px;
            top: -20.66px;
            background: white;
        }


    